<!--
<head>
  <meta charset="UTF-8">
  <title></title>
 <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
</head> -->


 <header class="header">
  <h1 class="site-title">Coffee World</h1>
  <p class="site-description">Let's Share your coffee life</p>
  <div class="buttons">
    <a class="button" href="#about">検索</a>
    <a class="button" href="#about">Home</a>
    <a class="button" href="#about">Friend</a>
    <a class="button" href="#about">Message</a>
    <a class="button" href="#about">Profile</a>
    <a class="button button-orange" href="#contact">Share to SNS</a>
  </div>
  </header>


  <section class="about" id="about">
    <h2 class="heading">The Latest News </h2>
   <p class="about-text">
    </p>
    <a href="https://dailycoffeenews.com/">
      Daily coffee news
    </a><br>
    <a href="https://slolab.net/cafe/">
      コーヒーブログ
    </a><br>
    <a href="https://www.theice.com/products/15/Coffee-C-Futures">
      コーヒー先物市場
    </a><br>


  </section>

  <% if user_signed_in? %>

<div class="works_parents">
  <section class="works">
  <h2 class="heading">Let's Share</h2>

     <div class="buttons">
      <%= link_to '投稿一覧へ', '/', class:'sample' %>
      <a class="button" href="#about">投稿する</a>
      <a class="button" href="#about">画像</a>
      <a class="button" href="#about">動画</a>
    </div>

 <div class="contents row">
  <%= form_tag('/coffee_sns', method: :post) do %>
    <input type="text" name="language" placeholder="Language">
    <textarea name="message" placeholder="MESSAGE"></textarea>
    <input type="submit" value="SEND">
  <% end %>
</div>

  </section>

<section class="works_2">
  <h2 class="heading">最新の投稿</h2>
    <div class="buttons">
      <a class="button" href="#about">ジャンルを選ぶ</a>
    </div>
<!--     <div>
      "ここに各ユーザーの投稿を時系列順に表示する"
    </div> -->

      <% @coffee_feeds.each do |coffee_feeds| %>
      <div class="comment_box">
        <div class="contents_message">
          <p> <%= coffee_feeds.message %></p>
        </div>
        <div class="contents_language">
          <p> <%= coffee_feeds.language %></p>
        </div>
      </div>
      <% end %>
</section>
</div>


  <section class="contact" id="contact">
 <h2 class="heading">Profile</h2>
  <a class="button" href="#about">友達になる</a>
  <a class="button" href="#about">コミュニティを探す</a>
  <a class="button" href="#about">編集する</a>

  <div class="name">
   <%= current_user.name %>
  </div>
  <%= image_tag(current_user.image, :size => "160x160") %>

  </div>

  </section>

<div class="about_2">
      <%= link_to "ログアウト",  destroy_user_session_path , method: :delete %>


<% else %>
　　　<div class="about_2">
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    </div>
  <% end %>
